---
import ExprienceItem from "./ExprienceItem.astro";
const EXPERIENCE = [
  {
    date: "Enero 2023 - Presente",
    title: "Full-stack Developer en Grupo Ecoquintas",
    description:
      "Desarrollo de aplicaciones web y móviles con React, Next.js, Node.js, y React Native. Publicación de app en Play Store y creación de API para verificación de clientes.",
    link: "https://play.google.com/store/apps/details?id=com.grupoecoquintas.EcoApp&pcampaignid=web_share",
  },
  {
    date: "Mayo 2022 - Octubre 2022",
    title: "Web User Interface Developer en Globant",
    description:
      "Desarrollé interfaces web con ReactJs y Jest para clientes como Royal Caribbean y Disney. Implementé pruebas automatizadas para asegurar la calidad del código.",
  },
  {
    date: "Enero 2022 - Mayo 2022",
    title: "Software Engineer en Nayara Resorts",
    description:
      "Desarrollé interfaces de usuario intuitivas y atractivas para uno de los hoteles más reconocidos mundialmente. Usé frameworks como Vue.js y Vuetify para crear experiencias fluidas.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experiencia) => (
      <li class="mb-10 ms-3">
        <ExprienceItem {...experiencia} />
      </li>
    ))
  }
</ol>
